<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS Z} %p [%c{1}] %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.tomcat" additivity="false">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.eclipse" additivity="false">
		<level value="info" />
		<appender-ref ref="consoleAppender" />
	</logger>
<!--
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>
 
	<logger name="org.hibernate.type" additivity="false">
		<level value="trace" />
		<appender-ref ref="consoleAppender" />
	</logger>
 -->
 	<logger name="org.bigloupe.web" additivity="false">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>
 
	<logger name="org.bigloupe.web.chart.controller" additivity="false">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.bigloupe.server.chart" additivity="false">
		<level value="info" /> <!-- trace to check message -->
		<appender-ref ref="consoleAppender" />
	</logger>


	<root>
		<priority value="info" />
		<appender-ref ref="consoleAppender" />
	</root>

</log4j:configuration>

